 .imageSection  {
  display : block;
  height  : 30px;
  width   : 30px;
  float   : left;
  margin-right: 10px;
}
.commentWrapper {
  overflow: auto;
  width : 500px;
  border: 1px solid #ddd;
  padding: 12px;
  margin : 0px auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.commentAuthor {
  margin-right: 4px;
}
.eachComment {
  line-height : 20px;
  width : 100%;
  clear: both;
}
.nameAndDateContainer {
  float: left;
}
.actionControl {
  display:inline-block;
  font-size : 12px;
  margin-right: 5px;
  cursor:pointer;
}
.postForm {
  border: 1px solid #ddd;
  margin: 0px auto;
  margin-bottom: 15px;
  width: 500px;
}

.postForm textarea {
  border: 0px;
  font-size: 14px;
  width : 100%;
  font-weight: normal;
  height : 60px;
  resize : none;
  outline: none;
  box-sizing: border-box;
}
.postControls  {
  background-color: rgb(246, 247, 248);

}
.textAreaWrapper {
  padding: 0px 10px;
  margin-top: 8px;
  margin-top: 35px;
}
.postHeaderItems, .footerItems{
  margin: 0px;
  list-style: none;
  padding: 0px 10px;
}
.footerItems { 
  overflow: auto;
  padding: 0px;
}
.footerItems li{
  float: left;
  height: 30px;
  width: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
.footerItems li:hover{
  background-color: #ddd;
}
.postHeaderItems li:hover {
  background-color: #f6f2f2;
}
.postHeaderItems li {
  float: left;
  margin: 4px 15px 4px 0px;
  padding: 3px 5px;
  cursor: pointer;
}
.postHeaderItems li i {
 margin-right: 5px;
}
.commentReply {
  margin-top: 10px;
}

.replyContent, .commentReplyBox {
  width: 90%;
  border-color: #dcdee3;
  box-sizing: border-box;
  resize: none;
  padding-top: 2px;
}
.commentReplyBox:focus {
    outline: 0;
}
.nameAndDateContainer {
  display: inline-block;
}
.authorHolder a{
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #3b5998;
  cursor: pointer;
  text-decoration: none;
}
.dateHolder {
  display: block;
}
.dateHolder span{
  font-weight: normal;
  zoom: 1;
  color: rgb(145, 151, 163);
  font-size: 12px;
}
.postTopSection {
  margin-bottom: 12px;
  overflow: auto;
}
.actionLinks  {
  color: rgb(109, 132, 180);
  cursor: pointer;
  display: inline;
  font-size: 12px;
  height: auto;
}
.actionControlsContainer {
  margin-top: 12px;
}
.spacer {
  clear: both;
}
.replyPost {
  display: block;
  clear: both;
  margin-bottom: 6px;
  height: auto;
}